<h2>Create a new account</h2>
<div class="p-grid">
	<div class="p-col-12 p-lg-3 p-md-4 p-sm-6">
		<form #registrationForm="ngForm" (ngSubmit)="submit()" class="p-fluid">
			<span class="p-float-label p-mt-3">
				<input id="name"
				       required
				       type="text"
				       [disabled]="loading"
				       [(ngModel)]="model.name"
				       name="name"
				       pInputText>
				<label for="username">Your actual name</label>
			</span>
			<span class="p-float-label p-mt-4">
				<input id="username"
				       required
				       type="text"
				       [disabled]="loading"
				       [(ngModel)]="model.username"
				       name="username"
				       pInputText>
				<label for="username">Username</label>
				<small *ngIf="usernameUnavailable"
				       id="username-help"
				       class="p-error">Username not available.</small>
			</span>
			<span class="p-float-label p-mt-4">
				<p-password id="password" required [toggleMask]="true"
				            placeholder="Password"
				            [disabled]="loading"
				            [(ngModel)]="model.password"
				            name="password"></p-password>
			</span>
			<span class="p-float-label p-my-4">
				<p-password id="password-confirmation" required
				            placeholder="Repeat password"
				            [disabled]="loading"
				            [(ngModel)]="model.passwordConfirmation"
				            name="passwordConfirmation"></p-password>
				<small *ngIf="passwordMismatch"
				       id="password-help"
				       class="p-error">Passwords must match.</small>
			</span>
			<p-message *ngIf="error && !loading" severity="error"
			           class="p-mb-4"
			           text="{{error}}"></p-message>
			<p-button type="submit"
			          label="Sign up"
			          [loading]="loading"
			          [disabled]="!registrationForm.form.valid"></p-button>
		</form>
	</div>
</div>
