<p-card *ngIf="entry">
	<ng-template pTemplate="header">
		<div class="p-d-flex p-ai-center">
			<div style="flex-grow: 1" class="p-d-inline-flex p-flex-row p-ai-center">
				<app-user-avatar *ngIf="doneBy"
				                 class="p-mr-2"
				                 [user]="doneBy"></app-user-avatar>
				<h3>{{entry.time | date}}</h3>
				<h4 *ngIf="shop"
				    class="p-ml-2">{{shop.name}}</h4>
			</div>
			<button pButton icon="pi pi-pencil" type="button"
			        style="flex-shrink: 0"
			        class="p-button-outlined p-button-sm"
			        routerLink="{{entry.id}}/edit"></button>
		</div>
	</ng-template>
	<div>
		<div class="p-d-flex p-flex-row p-ai-center">
			<h2 class="cost-label" style="flex-grow: 1">{{entry.sum | currency }}</h2>
			<span>{{entry.items.length}} item{{entry.items.length > 1 ? 's' : ''}}</span>
		</div>
	</div>
</p-card>
