<div *ngIf="group">
	<app-content-header
		(onReturn)="goBack()"
		title="Invite to {{group.name}}">
	</app-content-header>
	<div class="p-d-flex p-mx-2 p-mt-2 p-flex-column">
		<ng-template [ngIf]="!invitationLink">
			<p>Click below to create a new invitation.</p>
			<p>Any <i>single</i> user that you share this link with can join this group.</p>
			<div class="p-d-flex p-flex-row-reverse">
				<p-button
				          label="Create invitation"
				          (click)="requestInvitation()"
				          [loading]="loadingCode"></p-button>
			</div>
		</ng-template>
		<ng-template [ngIf]="invitationLink">
			<p>Link to join the group has been created.</p>
			<p>Click below to copy it into your clipboard so you can share it:</p>
			<div class="p-d-flex p-flex-row p-flex-row-reverse p-ai-center">
				<button pButton type="button"
				        label="Copy to clipboard"
				        icon="pi pi-share-alt"
				        (click)="copyCode()"></button>
				<p-message *ngIf="linkCopied"
				           styleClass="p-mr-2"
				           severity="success" text="Link copied!"></p-message>
			</div>
		</ng-template>
	</div>
</div>
