<div class="p-flex p-flex-column">
	<app-content-header [enableNavigation]=false
	                    [loading]="loading"
	                    title="My groups">
		<button pButton pRipple
		        style="flex-shrink: 0"
		        icon="pi pi-plus"
		        routerLink="new"
		        label="New group"></button>
	</app-content-header>
	<div *ngIf="!loading"
	     class="p-grid p-mx-lg-0">
		<div *ngFor="let group of groups"
		     class="p-col-12 p-lg-3 p-md-6">
			<app-group-card [group]="group"></app-group-card>
		</div>
	</div>
</div>
