<div class="p-flex p-flex-column">
	<app-content-header [enableNavigation]=false
	                    [loading]="loading"
	                    title="Purchases">
		<button pButton
		        style="flex-shrink: 0"
		        icon="pi pi-plus"
		        routerLink="new"
		        label="New purchase"></button>
	</app-content-header>
	<div *ngIf="!loading"
	     class="p-grid p-mx-lg-0">
		<div *ngFor="let purchase of purchases"
		     class="p-col-12 p-lg-3 p-md-6">
			<app-purchase-list-entry [entry]="purchase"></app-purchase-list-entry>
		</div>
	</div>
</div>
