<p-card *ngIf="group">
	<ng-template pTemplate="header">
		<div class="p-d-flex p-ai-center">
			<h2 style="flex-grow: 1">{{group.name}}</h2>
			<button pButton pRipple icon="pi pi-pencil" type="button"
			        style="flex-shrink: 0"
			        class="p-mr-3 p-button-text p-button-outlined p-button-sm"
			        routerLink="{{group.id}}/edit"></button>
		</div>
	</ng-template>
	<div>
		<div *ngIf="!loading" class="p-d-inline-flex">
			<app-user-avatar-group (click)="editGroup(group)"
			                       [users]="users"></app-user-avatar-group>
			<button pButton pRipple icon="pi pi-plus" type="button"
			        class="p-button-text p-button-outlined p-button-sm"
			        routerLink="{{group.id}}/invite"></button>
		</div>
		<div *ngIf="loading">
			<p-skeleton></p-skeleton>
		</div>
	</div>
</p-card>
